/* Estilos de la lista de usuarios */

body {
    background: #ccc !important
  }
  
  #MainContainer {
    background: white;
    width: 550px;
    margin: 24px auto;
    border: 1px solid #999;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    padding: 0
  }
  
  ul {
    margin-left: 20px
  }

table {
  border : 1px solid #999;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #aaa;
  text-align: center;
}

#TableWrapper {
  padding: 20px;
}